<h1>About me</h1>
<h2>Name Placeholder</h2>
<img src="img/protrait.jpeg" alt="protrait" class="protrait">
<p>I am a student at centennial college and I really love coding</p>

<p>Here is my <a href="Content/resume.pdf">resume</a>!</p>
