<!-- Student name: wsiu11 -->
<!-- Student ID: 301272297 -->
<!-- Filename: bottom_nav.ejs -->
<footer>
    <nav class="navbar fixed-bottom navbar-expand-sm bg-body-tertiary">
        <h6 class="navbar-text">&copy; Copyright 2023 All Rights reserved.</h6>
    </nav>
</footer>