<!-- Student name: wsiu11 -->
<!-- Student ID: 301272297 -->
<!-- Filename: home.ejs -->
<h1>Welcome</h1>

<p>Welcome to my personal page. Feel free to browse around and let me know what you like!</p>

<p>"To design, develop, and maintain innovative and efficient software solutions that empower individuals and organizations to achieve their goals, while continuously striving for excellence, staying at the forefront of technology, and fostering collaboration and positive impact in the ever-evolving digital world." - Me</p>

<p>You can view more about me in my <a href="/about">about me</a> page</p>