<!-- Student name: wsiu11 -->
<!-- Student ID: 301272297 -->
<!-- Filename: projects.ejs -->
<h1>Projects</h1>

<ul>
    <li>Buzzard Euphrates Pekingese</li>
    <img src="images/project1.jpg" alt="project1" class="project">
    <p>Image by <a href="https://www.freepik.com/free-photo/programming-background-with-person-working-with-codes-computer_38669459.htm#query=programming&position=0&from_view=keyword&track=sph">Freepik</a></p>
    <p>It is a school project and my main contribution is frontend development.</p>
    <li>Hen Kolyma Airedale</li>
    <img src="images/project2.jpg" alt="project1" class="project">
    <p>Image by <a href="https://www.freepik.com/free-photo/programming-background-collage_34089161.htm#query=software%20development&position=23&from_view=keyword&track=ais">Freepik</a></p>
    <p>It is a school project and my main contribution is frontend development.</p>
    <li>Heron Zeya Beagle</li>
    <img src="images/project3.jpg" alt="project1" class="project">
    <p>Image by <a href="https://www.freepik.com/free-vector/new-app-development-desktop_10276612.htm#query=software%20development&position=3&from_view=keyword&track=ais">Freepik</a></p>
    <p>It is a school project and my main contribution is frontend development.</p>
</ul>